*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
}

#task-container{
    width: 350px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
}

input{
    flex: 5;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#add-task{
    flex: 1;
    transition: .3s;
    font-size: 1.2rem;
    padding: 5px;
    background-color: #fff;
    color: green;
    border: 2px solid green;
    border-radius: 10px;
}

#add-task:hover{
    background-color: green;
    color: #fff;
}

.task{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.task li{
    list-style: none;
    font-size: 1.3rem;
    padding: 5px;
    margin: 10px;
    flex: 4;
}

.task button{
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.task .checkTask{
    border-color: orange;
    color: orange;
    margin-right: 5px;
    font-size: 1.3rem;
}

.task .checkTask:hover{
    background-color: orange;
    color: #fff;
}

.task .deleteTask{
    border-color: red;
    color: red;
    font-size: 1.3rem;
}


.task .deleteTask:hover{
    background-color: red;
    color: #fff;
}
